@import "../../style/theme.scss";
@import "../../style/variables.scss";
@import "../../style/responsive.scss";

.root {
  display: table;
  height: fit-content;
  box-sizing: border-box;
  width: 100%;
}

.container {
  margin: 1.5rem 0;
}

.lines {
  div {
    position: absolute;
    background-color: #f5f6f9;
    margin-left: 1.5rem;
    &:first-child {
      width: 2px;
    }
    &:last-child {
      height: 2px;
    }
  }
}

.upper {
  display: flex;
  flex-wrap: nowrap;
}

.period {
  z-index: 10;
  width: fit-content;
  padding: 0.2rem 0.7rem;
  border-radius: 1.5rem;
  margin: auto 0;
  font-size: 12px;
  font-weight: 600;
  @include themify($themes) {
    color: themed("textColor");
    border: 2px solid themed("rootColor");
    background-color: themed("containerColor");
  }
}

.snippet {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.7rem;
  font-size: 0.8rem;
  @include themify($themes) {
    color: themed("textColorMute");
  }
}

.content {
  margin-top: 1rem;
  margin-bottom: 0;
  margin-left: 2.5rem;
  h1 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    @include themify($themes) {
      color: themed("textColorBold");
    }
  }
  p {
    font-size: 0.9rem;
    margin-bottom: 0;
    @include themify($themes) {
      color: themed("textColor");
    }
  }
}

.action {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
  @include themify($themes) {
    color: themed("textColorBold");
  }
  & > svg {
    cursor: pointer;
    font-size: 1.2rem;
    transition: $fast-transition;
    &:first-child {
      margin-right: 0.3rem;
      &:hover {
        @include themify($themes) {
          color: themed("buttonColor");
        }
      }
    }
    &:last-child {
      margin-left: 0.3rem;
      &:hover {
        @include themify($themes) {
          color: themed("buttonDanger");
        }
      }
    }
  }
}
