@import "../../../style/theme.scss";
@import "../../../style/responsive.scss";
@import "../../../style/variables.scss";

.root {
  padding: 1.5rem 2rem;
  width: 95vw;
  color: #666666;
  @include media(notPhone) {
    width: fit-content;
    max-width: 95vw;
    min-width: 60vw;
    padding: 2.5rem 4rem;
  }
  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.button {
  padding: 0.6rem 0.8rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  @include themify($themes) {
    background-color: themed("buttonColor");
    color: themed("buttonText");
    &:hover {
      box-shadow: $tight-shadow;
    }
    &:active {
      background-color: themed("buttonHover");
    }
  }
  @include media(desktop) {
    width: 170px;
  }
  p {
    display: inline;
    margin: 0;
  }
  svg {
    display: inline;
    text-align: center;
    margin: auto;
  }
}
