@import "../../style/theme.scss";
@import "../../style/variables.scss";
@import "../../style/responsive.scss";

.root {
  display: flex;
  flex-wrap: wrap;
}

.container {
  @include media(notPhone) {
    width: 48%;
    margin-right: 4%;
    &:nth-child(2n + 0) {
      margin-right: 0;
    }
  }
}

.elementContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}
